doctype html
html(lang='es')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0')
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous")
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/styles.css")
    body
        main#main.main
            #all-users.all-users
                .top-bar
                    h1.top-bar__title All Users
                #content-users.content
                    .content__header
                        -const headers = ['name', 'surname', 'email', 'options']
                        each header in headers
                            p.content__text.content__text--header= header

                    .content__users
                        -const users = allUsers
                            each user in users
                                div(data-id= user.id).content__user
                                    p.content__text= user.name
                                    p.content__text= user.surname
                                    p.content__text.content__text--email= user.email
                                    button.button.button--edit.fas.fa-pen
                                    button(data-id=user.id).button.button--delete.fas.fa-trash
            #user-info.user-info
                .top-bar
                    h1#user-info-title.top-bar__title New User
                form(action="/add-user" method="POST")#user-info-form.content__user.content__user--user-info
                    label.content__text--item Name
                        input(type="text" name="name" required)#user-info-name.content__text
                    label.content__text--item Surname
                        input(type="text" name="surname" required)#user-info-surname.content__text
                    label.content__text--item Email
                        input(type="text" name="email" required)#user-info-email.content__text--email
                    button#user-info-button.button.button--addUser.content__text--item Add User
                    button.button.button--cancel.content__text--item Cancel
            script(src="js/scripts-min.js")